:root {
  --theme-color-name: #b82828;
  --c-primary: rgb(var(--rgb-primary));
  --c-primary-active: #9c0015;
  --c-primary-light: #b8282880;
  --c-primary-fade: #b222241a;
  --rgb-primary: 184, 40, 40;
  --c-dark-primary: rgb(var(--rgb-dark-primary));
  --c-dark-primary-active: #a20919;
  --c-dark-primary-light: #be2e2c80;
  --c-dark-primary-fade: #b828281a;
  --rgb-dark-primary: 184, 40, 40;
}
